@import url('https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,700,700i');
@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Poppins:300,400,500,600,700,800,900');

/* Global Attributes */
body{
font-family: 'Poppins', sans-serif;
}
/* main header */
.main-head{
	min-width: 1686px!important; 
}
.main-head .logo{
	margin: 52px 0px 62px 0px;
}
.main-head .menu{
	margin: 53px 0px 64px 0px;
}
.main-head .menu li a{
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color:#000;
	padding-right: 28px;
}
.main-head .callus{
	margin: 40px 0px 56px 0px;
}
/* section 01 - background image*/
.background-head{
	background: url(../images/lefticons.png) left top no-repeat, url(../images/righticons.png) right top no-repeat, url(../images/shape.png) center bottom no-repeat, url(../images/bg.png) left top repeat;
	background-size: 276px, 276px, 102%, 100%;
	height:956px;
	min-width: 1686px!important;
}
/* section 01 - main content */
.main-heading{
	margin-top: 110px;
}
.main-heading h1{
	font-family: 'Montserrat', sans-serif;  
	font-size: 32px;
	font-weight: bold;
	color: #FF9600;
	letter-spacing: 5px;
}
.main-heading p{
	font-family: 'poppins' , sans-serif;
	font-size: 24px;
	font-weight: lighter;
	color: #fff;
	margin-top: 43px;
}
.main-heading button{
	margin-top: 60px;
}
.easy-steps{
	margin-top: 219px;
}
.easy-steps h4 span{
	font-size: 22px;
	font-weight: bold;
	color: #FF9600;
}
.easy-steps h4{
	font-size: 26px;
	font-weight: regular;
	color: #FFFFFF;
}
.easy-steps ol:before{
	content:'';
	width: 1025px;
	height: 2px;
	background-color: #fff;
	position: absolute;
	bottom: 50%;
	left: 12%;
	opacity: 0.29;
	margin-bottom: 30px;
}
.easy-steps ol{
	margin-top: 70px;
	vertical-align: middle;
	text-align: center;
}
.easy-steps ol li{
	font-size: 18px;
	font-weight: bold;
	color: #ffffff;
}
.easy-steps ol li span{
	background-color: #ff9600;
	border-radius: 50%;
	line-height: 15px;
	padding: 15px;
	margin-right: 15px;
}
.easy-steps ol li img{
	margin-left: 25.5px;
	margin-right: 30px;
}
/* section 02 - System */
.system{
	margin-top: 96px;
	background-image: url(../images/triangle.png);
	background-repeat: no-repeat;
	min-width: 1686px!important; 
}
.americas{
	padding-left: 11px;
	padding-right: 11px;
}
.americas h2{
	margin-top: 118px;
	font-size: 36px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	letter-spacing: 2px;
}
.americas p{
	margin-top: 65px;
	font-size: 17px;
	font-weight: 400;
	font-family: 'poppins', sans-serif;
}
.pricing{
	margin-top: 72px;
	padding: 0px!important;
}
.pricing .btn-price{
	padding: 24px 78px 59px 61px;
	background-color: #FF9600;
	border-radius: 20px;
	font-size: 18px;
	color: #fff;
	font-weight: 400;
}
.prices{
	box-shadow: 0px 0px 5px grey;
	background-color: #fff;
	border-radius: 0px 20px 20px 20px;
	position: absolute;
	margin-top: -37px;
}
.prices ol li{
	font-size: 18px;
	font-weight: 400;
	font-family: 'poppins', sans-serif;
	padding: 23px 33px 39px 33px;
}
.prices ol li span{
	font-size: 30px;
	color:#0081EB;
	font-weight: 400;
}
.prices .second-li li:first-child{
	font-size: 18px;
	font-weight: 400;
	font-family: 'poppins', sans-serif;
	padding: 39px 94px 34px 28px;
}
.check-cross{
	margin-top: 200px;
}
.check-cross .zip img{
    position: absolute;
    margin-top: 166px;
    left: 770px;
    z-index: 10;
}
.box-check{
	position: relative;
	left: -20px;
}
.box-cross{
	position: relative;
	right: -20px;
}
.check-cross .box-cross,
.check-cross .box-check{
	padding: 0px!important;
	box-shadow: 0px 0px 5px #707070;
	background-color: #fff;
	border-radius: 15px; 
}
.box-check h5{
	margin: 61px 70px 48px 85px;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #0081EB;
}
.box-cross h5{
	margin: 61px 20px 48px 85px;
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #0081EB;
}
.box-cross h5 span{
	font-size: 22px;
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	color: #E8357C;
}
.box-check img{
	margin-top: 34px;
	margin-right: 29px;
}
.box-cross img{
	margin-top: 34px;
	margin-right: 21px;
}
.box-check ol{
	margin-left: 70px;
	margin-bottom: 58px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.box-cross ol{
	margin-left: 70px;
	margin-bottom: 108px;
	font-size: 16px;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}
.check-cross ol li{
	line-height: 2.5;	
}
/* section 03 - Registration*/
.registration{
	min-width: 1686px!important; 
}
.benifits{
	margin-top: 144px; 
}
.benifits h2{
	font-size: 36px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.benifits p{
	margin-top: 84px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	opacity: 0.64;
	line-height: 2.5;
}
.following{
	margin-top: 84px;
}
.following h4{
	font-size: 24px;
	color: #0081EB;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	letter-spacing: 2px;
}
/* Section 03 - Registration items */ 
.more-1{
	margin-top: 94px;
}
.more-1 ol .item1{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
}
.more-1 ol .item1 img{
	padding: 22px 0px 22px 30px;
}
.more-1 ol .item1 p{
	padding: 29px 20px 29px 20px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}

.more-1 ol .item2{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
	margin-left: 20px;
}
.more-1 ol .item2 img{
	padding: 21px 0px 20px 22px;
}
.more-1 ol .item2 p{
	padding: 29px 20px 29px 20px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}
.more-1 ol .item3{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
	margin-left: 20px;
}
.more-1 ol .item3 img{
	padding: 19px 0px 20px 30px;
}
.more-1 ol .item3 p{
	padding: 31px 23px 27px 19px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}
.more-1 ol .item4{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
	margin-left: 20px;
}
.more-1 ol .item4 img{
	padding: 21px 0px 20px 20px;
}
.more-1 ol .item4 p{
	padding: 31px 35px 27px 22px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}
.more-2{
	margin-top: 42px;
	padding-left: 75px; 
}
.more-2 ol .item5{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
}
.more-2 ol .item5 img{
	padding: 21px 0px 21px 30px;
}
.more-2 ol .item5 p{
	padding: 28px 25px 30px 18px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}

.more-2 ol .item6{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
	margin-left: 20px;
}
.more-2 ol .item6 img{
	padding: 17px 0px 22px 28px;
}
.more-2 ol .item6 p{
	padding: 28px 23px 30px 23px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}
.more-2 ol .item7{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
	margin-left: 20px;
}
.more-2 ol .item7 img{
	padding: 22px 0px 25px 27px;
}
.more-2 ol .item7 p{
	padding: 29px 21px 29px 22px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}
.more-2 ol .item8{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
	margin-left: 20px;
}
.more-2 ol .item8 img{
	padding: 22px 0px 19px 33px;
}
.more-2 ol .item8 p{
	padding: 29px 23px 29px 20px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}
.more-3{
	margin-top: 42px;
}
.more-3 ol .item9{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
}
.more-3 ol .item9 img{
	padding: 23px 0px 20px 29px;
}
.more-3 ol .item9 p{
	padding: 29px 24px 29px 19px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}

.more-3 ol .item10{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
	margin-left: 16px;
}
.more-3 ol .item10 img{
	padding: 28px 0px 23px 21px;
}
.more-3 ol .item10 p{
	padding: 31px 24px 27px 17px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}
.more-3 ol .item11{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
	margin-left: 16px;
}
.more-3 ol .item11 img{
	padding: 23px 0px 22px 30px;
}
.more-3 ol .item11 p{
	padding: 28px 25px 30px 15px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}
.more-3 ol .item12{
	border-radius: 0px 40px 0px 40px;
	background-color: #F4F7FE;
	margin-left: 16px;
}
.more-3 ol .item12 img{
	padding: 20px 0px 19px 25px;
}
.more-3 ol .item12 p{
	padding: 29px 16px 29px 20px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
	line-height: 2;
}
/* Section 04 - Features */
.features-six{
	min-width: 1686px!important; 
}
.features{
	margin-top: 124px;
}
.features h4{
	font-size: 40px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.unlimited{
	margin-top: 148px;
}
.unlimited .content-box{
	padding-right: 72px;	
}
.unlimited h5{
	font-size: 30px;
	font-family: 'Poppins',sans-serif;
}
.unlimited p{
	margin-top: 56px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
	line-height: 2;
}
.unlimited .img-box{
	box-shadow: 0px 0px 3px #707070;
}
.unlimited img{
	padding: 55px 102px;
}
.affordable{
	margin-top: 142px;
}
.affordable .img-box{
	box-shadow: 0px 0px 3px #707070;
}
.affordable .content-box{
	padding-left: 83px; 
}
.affordable img{
	padding: 54px 91px;
}
.affordable h5{
	font-size: 30px;
	font-family: 'Poppins',sans-serif;
}
.affordable p{
	margin-top: 50px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
	line-height: 2;
}
.secured{
	margin-top: 132px;
}
.secured .img-box{
	box-shadow: 0px 0px 3px #707070;
}
.secured .content-box{
	padding-right: 87px; 
}
.secured img{
	padding: 44px 114px 62px 114px;
}
.secured h5{
	margin-top: 40px;
	font-size: 30px;
	font-family: 'Poppins',sans-serif;
}
.secured p{
	margin-top: 51px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
	line-height: 2;
}
.comply{
	margin-top: 132px;
}
.comply .img-box{
	box-shadow: 0px 0px 3px #707070;
}
.comply .content-box{
	padding-left: 83px; 
}
.comply img{
	padding: 61px 106px;
}
.comply h5{
	margin-top: 25px;
	font-size: 30px;
	font-family: 'Poppins',sans-serif;
}
.comply p{
	margin-top: 60px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
	line-height: 2;
}
.scan{
	margin-top: 132px;
} 
.scan .img-box{
	box-shadow: 0px 0px 3px #707070;
}
.scan .content-box{
	padding-right: 87px; 
}
.scan img{
	padding: 64px 100px;
}
.scan h5{
	margin-top: 30px;
	font-size: 30px;
	font-family: 'Poppins',sans-serif;
}
.scan p{
	margin-top: 51px;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
	line-height: 2;
}
/* section 04 - Infringement */
.infringement{	
	min-width: 1686px!important;
	margin-top: 141px;
	background: url(../images/iconstopleft.png) left top no-repeat, url(../images/bg.png) left top repeat;
	background-size: 450px, 100%; 
	height: 811px;
}
.infringement .content-box{
	margin-left: -50px;
}
.infringement h2{
	margin-top: 120px;
	font-size: 40px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	color: #fff;
}
.infringement p{
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
	color: #fff;
	margin-top: 70px;
}
.infringement p span{
	color: #FF9600;
	font-weight: 700;
}
.infringement .example{
	margin-top: 70px;
	border: 4px solid #0C77D4;
}
.infringement .example h6{
	font-size: 16px;
	color: #fff;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
	padding: 42px 206px 0px 26px;
}
.infringement .example img{
	position: relative;
	right: 25px;
	bottom: 45px;	
}
.infringement .example p{
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
	color: #fff;
	opacity: 0.64;
	line-height: 2;
	margin-top: 40px;
	padding: 0px 22px 11px 26px;
}
.infringement .img-box img{
	padding: 221px 0px 150px 55px;
}
/* section 05 - FAQ */
.faq{
	min-width: 1686px!important;
	margin-top: 146px;
	background: url(../images/Questions.png), url(../images/triangle.png), url(../images/reversedtriangle.png);
	background-position: top right, left top, bottom right;
	background-repeat: no-repeat, no-repeat, no-repeat;
	height: 1895px;
}
.faq h2{
	font-size: 50px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.faq p{
	margin-top: 19px;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
	line-height: 2;
}
.questions{
	margin-top: 88px;
}
.accordion{
	border: none;
    box-shadow: none;
}
.accordion>.card .card-header {
    padding-top: 35px;
    padding-bottom: 35px;
    background-color: #fff;
	border: none;
    box-shadow: none;
}
.accordion>.card .card-header a{
    text-decoration: none;
	color: #000;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Montserrat', sans-serif;
}
.accordion>.card .card-body p{
	color: #000;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins', sans-serif;
}
/* footer */
.main-footer{
	min-width: 1686px!important;
	background-image: url(../images/bg.png);
}
.company-foot img{
	margin-top: 61px;
	margin-bottom: 46px;
}
.main-footer hr{
	background-color: #fff;
	opacity: 0.4;
}
.foot-nav{
	margin-top: 51px;
	padding-bottom: 54px;
}
.foot-nav ol{
	display: inline-block;
	margin-right: 55px;
}
.foot-nav ol li{
	text-align: left;
	line-height: 2;
	color: #fff;
	font-size: 14px;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
}
.foot-nav ol li span{
	color: #9EADB9;
}
.foot-nav table{
	line-height: 2;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-weight: 400;
	font-family: 'Poppins',sans-serif;
}
.foot-nav table img{
	margin-left: 10px;
}

/* Media Queries */
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px){
	.main-head, 
	.background-head,
	.system, 
	.registration, 
	.features-six, 
	.infringement, 
	.faq, 
	.main-footer{
		width: 576px!important;
	}
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) { 
	.main-head, 
	.background-head,
	.system, 
	.registration, 
	.features-six, 
	.infringement, 
	.faq, 
	.main-footer{
		width: 768px!important;
	}
	.americas h2{
		font-size: 30px;
	}
	.americas p{
		margin-top: 50px;
		font-size: 14px;
	}
	.pricing .btn-price{
		padding: 24px 40px 59px 30px;
	}
	.prices{
		margin-top: -50px;
	}
	.prices ol li{
		font-size: 14px;
		padding: 30px 5px 34px 12px;
	}
	.prices ol li span{
		font-size: 20px;
	}
	.prices .second-li li:first-child{
		font-size: 14px;
		padding: 30px 44px 34px 12px;
	}
	.check-cross .zip img{
		width: 70px;
		height: 70px;
		left: 810px;
		margin-top: 140px;
	}
	.box-check h5{
		margin: 31px 50px 40px 30px;
		font-size: 16px;
	}
	.box-cross h5{
		margin: 31px 10px 40px 29px;
		font-size: 16px;
	}
	.box-cross h5 span{
		font-size: 18px;
	}
	.box-check img{
		width: 60px;
		height: 60px;
		margin-top: 15px;
		margin-right: 15px;
	}
	.box-cross img{
		width: 60px;
		height: 60px;
		margin-top: 15px;
		margin-right: 15px;
	}
	.box-check ol{
		margin-left: 30px;
		margin-bottom: 24px;
		font-size: 18px;
	}
	.box-cross ol{
		margin-left: 30px;
		margin-bottom: 44px;
		font-size: 18px;
	}
	.benifits h2{
		font-size: 24px;
	}
	.benifits p{
		margin-top: 84px;
		font-size: 14px;
		opacity: 0.84;
	}
	.faq .questions{
		margin-left: -155px;
	}
	.following h4{
		font-size: 20px;
		letter-spacing: 2px;
	}
	
	.features h4{
		font-size: 30px;
	}
	.unlimited .content-box{
		padding-right: 30px;	
	}
	.unlimited h5{
		margin-top: 20px;
		font-size: 22px;
	}
	.unlimited p{
		margin-top: 40px;
		line-height: 1.5;
	}
	.unlimited img{
		padding: 60px 35px;
	}
	.affordable .content-box{
		padding-left: 40px; 
	}
	.affordable img{
		padding: 44px 23px;
	}
	.affordable h5{
		margin-top: 20px;
		font-size: 20px;
	}
	.affordable p{
		margin-top: 40px;
		line-height: 1.5;
	}
	.secured .content-box{
		padding-right: 30px; 
	}
	.secured img{
		padding: 44px 47px 62px 47px;
	}
	.secured h5{
		margin-top: 40px;
		font-size: 20px;
	}
	.secured p{
		margin-top: 40px;
		line-height: 1.5;
	}
	.comply .content-box{
		padding-left: 40px; 
	}
	.comply img{
		padding: 61px 38px;
	}
	.comply h5{
		margin-top: 40px;
		font-size: 20px;
	}
	.comply p{
		margin-top: 40px;
		line-height: 1.5;
	}
	.scan .content-box{
		padding-right: 30px; 
	}
	.scan img{
		padding: 54px 32px;
	}
	.scan h5{
		margin-top: 30px;
		font-size: 20px;
	}
	.scan p{
		margin-top: 40px;
		line-height: 1.5;
	}
	.infringement .content-box{
		margin-left: -150px;
	}
	.infringement h2{
		font-size: 26px;
	}
	.infringement p{
		font-size: 14px;
		margin-top: 50px;
	}
	.infringement p span{
		font-weight: 600;
	}
	.infringement .example{
		margin-top: 50px;
	}
	.infringement .example h6{
		font-size: 14px;
		font-weight: 800;
		padding: 42px 50px 0px 20px;
	}
	.infringement .example img{
		right: 15px;
		bottom: 65px;	
	}
	.infringement .example p{
		font-size: 12px;
		opacity: 0.74;
		line-height: 1.5;
		padding: 0px 22px 11px 20px;
	}
	.infringement .img-box img{
		padding: 160px 0px 150px 75px;
	}
	.faq h2{
		font-size: 30px;
		margin-left: -150px;
	}
	.faq p{
		margin-left: -150px;
		font-size: 14px;
		line-height: 1.5;
	}
	.foot-nav ol:first-child{
		margin-left: -45px;
	}
	.foot-nav ol{
		margin-right: 0px;
	}
	.foot-nav table{
		margin-left: 45px;
	} 
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) { 
	.main-head, 
	.background-head,
	.system, 
	.registration, 
	.features-six, 
	.infringement, 
	.faq, 
	.main-footer{
		width: 992px!important;
	}
	
	.easy-steps{
		margin-top: 280px;
	}
	.pricing .btn-price{
		padding: 24px 66px 59px 50px;
	}
	.prices ol li{
		padding: 23px 15px 39px 15px;
	}
	.prices .second-li li:first-child{
		padding: 39px 70px 34px 15px;
	}
	.check-cross .zip img{
		left: 790px;
	}
	.box-check h5{
		margin: 61px 39px 48px 54px;
		font-size: 20px;
	}
	.box-cross h5{
		margin: 61px 13px 48px 40px;
		font-size: 20px;
	}
	.box-cross img{
		margin-right: 15px;
	}
	.box-check ol{
		margin-left: 40px;
		margin-bottom: 38px;
	}
	.box-cross ol{
		margin-left: 40px;
		margin-bottom: 88px;
	}	
	.benifits h2{
		font-size: 32px;
	}
	.benifits p{
		margin-top: 84px;
		font-size: 12px;
		font-weight: 600;
		opacity: 0.44;
	}
	.unlimited .content-box{
		padding-right: 40px;	
	}
	.unlimited h5{
		margin-top: 20px;
		font-size: 28px;
	}
	.unlimited p{
		font-size: 14px;
	}
	.unlimited img{
		padding: 55px 74px;
	}
	.affordable .content-box{
		padding-left: 53px; 
	}
	.affordable img{
		padding: 54px 63px;
	}
	.affordable h5{
		margin-top: 25px;
		font-size: 28px;
	}
	.affordable p{
		font-size: 14px;
	}
	.secured .content-box{
		padding-right: 57px; 
	}
	.secured img{
		padding: 44px 85px 50px 90px;
	}
	.secured h5{
		margin-top: 35px;
		font-size: 28x;
	}
	.secured p{
		font-size: 14px;
	}
	.comply .content-box{
		padding-left: 53px; 
	}
	.comply img{
		padding: 65px 78px;
	}
	.comply h5{
		font-size: 28px;
	}
	.comply p{
		font-size: 14px;
	}
	.scan .content-box{
		padding-right: 57px; 
	}
	.scan img{
		padding: 64px 70px;
	}
	.scan h5{
		font-size: 28px;
	}
	.scan p{
		font-size: 14px;
	}
	.infringement .content-box{
		margin-left: -100px;
	}
	.infringement h2{
		font-size: 34px;
	}
	.infringement p{
		font-size: 14px;
	}
	.infringement .example{
		margin-top: 60px;
	}
	.infringement .example h6{
		font-weight: 800;
		padding: 42px 110px 0px 26px;
	}
	.infringement .example img{
		bottom: 35px;	
	}
	.infringement .example p{
		font-size: 12px;
		opacity: 0.74;
		padding: 0px 15px 11px 19px;
	}
	.infringement .img-box img{
		padding-top: 175px;
		padding-left:  40px;
	}
	.faq h2{
		font-size: 40px;
	}
	.faq p{
		font-size: 12px;
	}
	.foot-nav ol{
		margin-right: 25px;
	}
}
/* extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px){
	.main-head, 
	.background-head,
	.system, 
	.registration, 
	.features-six, 
	.infringement, 
	.faq, 
	.main-footer{
		width: 1200px!important;
	}
	.easy-steps{
	margin-top: 250px;
	}
	.check-cross .zip img{
    position: absolute;
    margin-top: 166px;
    left: 790px;
	z-index: 10;
	}
}